/****** PLACE YOUR CUSTOM STYLES HERE ******/

/* DONATE CUSTOM */

.btn-donate {
  border-radius:10px;
  background-color: white;
  border-color: #21b2a6;
  color: #21b2a6;
}

.btn-donate:hover {
  background: #21b2a6;
}

.well-donate {
  background-color: #f5f5f5;
  border: 0px solid #ffffff;
}

.input-donate input {
  font-family:Proxima Nova;
  font-weight: bold;
  font-size:18px;
  background-color: #ffffff;
  border-radius:10px;
  text-align:center;
  padding:0;
}

/* TEXT FEATURES */

.btn-custom-1 {
  border-radius:10px;
  background-color: white;
  border-color: #21b2a6;
  color: #21b2a6;
}

.btn-custom-1:hover {

}

/* CUSTOM COLORS */

.accent-color {
  color: #21b2a6;
  font-weight: bold;
}
